footer{
    margin:0;
    bottom: 0;
    height:3rem;
    width:100%;
    background-color: rgb(134, 134, 134);
    display: table; 
    vertical-align: middle;
    p{ 
        text-decoration: none;
        margin-left: 10px;
        font-family: montserrat;
        color: rgb(255, 255, 255);
        
    }
}
